body{
    margin: 0px;
    font-size: 18px;
    line-height: 1.6;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    font-size: 28px;
    border-bottom: 1px solid #ccc;
    color: #f39;
}

h4 {
    font-size: 18px;
    color: #333;
    text-align: center;
    display: block;
}

h5 {
    color: #777;
    text-align: center;
    font-size: 12px;
}

h6 {
    color: #777;
    text-align: center;
    margin-top: -10px;
    font-size: 14px;
}

ul li {
    list-style: none;
}

ul li:before {
    display: inline-block;
    content: "-";
    width: 20px;
    margin-left: -20px;
}

ol li {
    list-style: square;
}

h4 strong {
    color: #f39;
}