body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 20px 0 10px;
    padding: 0;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #ccc;
    color: #f39;
    font-size: 28px;
}

h4 {
    color: #333;
    display: block;
    font-size: 18px;
    text-align: center;
}

h6 {
    color: #777;
    font-size: 14px;
    margin-top: -10px;
    text-align: center;
}

ul li {
    list-style: none;
}

ul li::before {
    content: "-";
    display: inline-block;
    margin-left: -20px;
    width: 20px;
}

ol li {
    list-style: square;
}

h4 strong {
    color: #f39;
}

a {
    color: #0074d9;
    text-decoration: none;
}
